 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-group-1 {
  min-height: 1021px;
  margin: 0 auto 0 20px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 232px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: -185px auto 0;
}

.u-section-1 .u-image-2 {
  width: 458px;
  height: 692px;
  margin: 94px 72px 0 auto;
}

.u-section-1 .u-shape-1 {
  width: 616px;
  height: 483px;
  margin: -557px auto 0 54px;
}

.u-section-1 .u-form-1 {
  height: 370px;
  margin: -395px 493px 0 77px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: -430px auto 0 190px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    height: 191px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -146px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 128px;
    margin-right: 19px;
  }

  .u-section-1 .u-shape-1 {
    width: 520px;
    height: 408px;
    margin-top: -587px;
  }

  .u-section-1 .u-form-1 {
    margin-top: -358px;
    margin-right: 379px;
    margin-left: 67px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -409px;
    margin-left: 139px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1021px;
  }

  .u-section-1 .u-image-1 {
    height: 146px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -129px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -23px;
    margin-right: auto;
    margin-left: 119px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -232px;
    margin-left: auto;
  }

  .u-section-1 .u-form-1 {
    margin-top: -370px;
    margin-right: 112px;
    margin-left: 119px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -401px;
    margin-right: 181px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1069px;
  }

  .u-section-1 .u-group-1 {
    min-height: 1069px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    height: 211px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -170px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 69px;
    margin-left: 29px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -228px;
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    margin-top: -362px;
    margin-right: 27px;
    margin-left: 47px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -409px;
    margin-right: 85px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    margin-bottom: 48px;
    min-height: 1021px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    height: 133px;
    margin-top: 1px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -94px;
  }

  .u-section-1 .u-image-2 {
    height: 514px;
    width: 340px;
    margin-top: 4px;
    margin-left: -24px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 13px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-form-1 {
    margin-top: -360px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    margin-top: -400px;
    margin-right: auto;
  }
}
